<a href="https://colab.research.google.com/github/mittalmeghna/projects/blob/master/Hotel_Reviews_Workshop_MM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Plan your Vacation using Data Science Methodology

We will be using text analyzer to take your write up for dream vacation and find your best match. To do this, we need 3 things:
1. Set of reviews
2. Text based predictive model for hotel matching
3. Dream vacation description. 

The data is a sample of 1000 Hotels collected by datafinity available on Kaggle [here](https://www.kaggle.com/datafiniti/hotel-reviews/data) 

*This notebook will guide you through the creation of a simple bag of words model for text matching.

## Step 1: Frame the Problem

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import sklearn
import seaborn as sns
import re #regex https://regex101.com/
from collections import Counter
%matplotlib inline

## Step 2: Load the Data

In [0]:
# Import the Data Set.
data = pd.read_csv('https://github.com/Thinkful-Ed/data-201-resources/raw/master/hotel-reviews.csv')

## Step 3: Analyze the Data

In [0]:
data.head()

                  address categories  ... reviews.username reviews.userProvince
0  Riviera San Nicol 11/a     Hotels  ...      Russ (kent)                  NaN
1  Riviera San Nicol 11/a     Hotels  ...       A Traveler                  NaN
2  Riviera San Nicol 11/a     Hotels  ...             Maud                  NaN
3  Riviera San Nicol 11/a     Hotels  ...            Julie                  NaN
4  Riviera San Nicol 11/a     Hotels  ...         sungchul                  NaN

[5 rows x 19 columns]

In [0]:
# Perform some basic cleaning and character removal.

# Make everything lower case.
data['reviews.text'] = data['reviews.text'].str.lower()

# Remove non-text characters.
data['reviews.text'] = data['reviews.text'].str.replace(r'\.|\!|\?|\'|,|-|\(|\)', "",)

# Fill in black reviews with '' rather than Null (which would give us errors).
data['reviews.text'] = data['reviews.text'].fillna('')

In [0]:
# Import and initiate a vectorizer.
from sklearn.feature_extraction.text import CountVectorizer

# The max features is how many words we want to allow us to create columns for.
vectorizer = CountVectorizer(max_features=5000)

In [0]:
# Vectorize our reviews to transform sentences into volumns.
X = vectorizer.fit_transform(data['reviews.text'])

# And then put all of that in a table.
bag_of_words = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())

In [0]:
# Rename some columns for clarity.
data.rename(columns={'address': 'hotel_address', 'city': 'hotel_city',
                     'country':'hotel_country', 'name':'hotel_name'},
            inplace=True)

# Join our bag of words back to our initial hotel data.
full_df = data.join(bag_of_words)

In [0]:
# X is our words.
X = bag_of_words

# Y is our hotel name (the outcome we care about).
Y_hotel = data['hotel_name']

In [0]:
## Step 5: Select the model

In [0]:
# Import a random forest model.
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()

# Fit that random forest model to our data.
rfc.fit(X,Y_hotel)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

# If you want to run a different test review, start from here.

In [0]:
# Write your own dream vacation review here...
test_review = ['''
    I love lake and mountains and the clean and modern room.
    ''']

In [0]:
# Convert your test review into a vector.
X_test = vectorizer.transform(test_review).toarray()

In [0]:
# Match your review.
prediction = rfc.predict(X_test)[0]

In [0]:
# Return the essential information about your match.
data[data['hotel_name'] == prediction][['hotel_name', 'hotel_address', 
                                        'hotel_city', 'hotel_country']].head(1)

                 hotel_name   hotel_address hotel_city hotel_country
12945  Lakeway Resort & Spa  101 Lakeway Dr     Austin            US